* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}
.container {
	width: 80%;
	margin: auto;
}

.submit-btn {
	border: none;
	background: transparent;
	outline: none;
}

.submit-btn:hover {
	cursor: pointer;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
}

.left {
	position: relative;
	display: flex;
	align-items: flex-end;
	/* justify-content:center; */
	flex: 0.5;
	background: url("images/hot\ air\ ballon.jpg") no-repeat 80% center/cover;
}

.left::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}

.left .left-info {
	display: flex;
	align-items: center;
	margin-bottom: 5rem;
	margin-left: 3rem;
	z-index: 9999;
}
.left .left-info .temperature {
	color: #f3f8fc;
	font-size: 1.5rem;
	margin-right: 1rem;
}

.left .left-info .additional-info {
	color: #f3f8fc;
	margin-right: 1rem;
}

.left .left-info .weather {
	color: #f3f8fc;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -1rem;
}

.right {
	flex: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 300px; */
	/* padding-top: 3rem; */
	background: #3c6687;
}

.right .weather-info h1 {
	padding-bottom: 3rem;
	color: #e4e8ec;
	font-weight: 100;
}

.right .weather-data {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.right .weather-data .weather-description {
	color: #899fb0;
}
.right .weather-data .weather-description-value {
	color: #cbd9e5;
}

.right .weather-content form {
	display: flex;
	align-items: center;
	background: #4b7495;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	width: fit-content;
}

.right .weather-content input {
	font-size: 1rem;
	background: transparent;
	border: none;
	outline: none;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #cbd9e5;
	margin-right: 0.4rem;
}

.right .weather-content i {
	color: #cbd9e5;
}

.right .weather-content input::placeholder {
	color: #cbd9e5;
	font-size: 1rem;
}

.right .previous-searched {
	padding-top: 2rem;
	color: #899fb0;
}
.right .previous-searched ul {
	padding-bottom: 1rem;
}
.right .previous-searched li {
	padding-bottom: 2rem;
}
.right .previous-searched li:hover {
	cursor: pointer;
}

@media only screen and (max-width: 540px) {
	main {
		flex-direction: column;
		height: 120vh;
	}

	.container {
		width: 90%;
		margin: auto;
	}

	.left .left-info {
		margin-left: 1rem;
		margin-bottom: 2rem;
		display: unset;
	}
	.left .left-info .temperature {
		font-size: 1.5rem;
		margin-bottom: 0.8rem;
	}
	.left .left-info .additional-info {
		font-size: 1rem;
	}

	.left .left-info .additional-info h1 {
		margin-bottom: 0.8rem;
	}

	.left .left-info .weather {
		color: #f3f8fc;
		display: unset;
		flex-direction: unset;
		align-items: unset;
		margin-top: unset;
	}

	.right .weather-info h1 {
		padding: 1.5rem 0;
	}
}

@media only screen and (min-width: 541px) and (max-width: 767px) {
	.left .left-info {
		display: unset;
	}

	.right .weather-content form {
		width: 100%;
	}

	.right .weather-content input {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.left .left-info {
		margin-left: 1.5rem;
	}
	.left .left-info .temperature {
		font-size: 2rem;
		margin-right: 0.5rem;
	}

	.left .left-info .additional-info .time {
		font-size: 1.1rem;
	}
}
